<p id="notice"><%= notice %></p>

<p>
  <b>Program:</b>
  <%= @program.Program_id %>
</p>

<p>
  <b>Name:</b>
  <%= @program.Name %>
</p>

<p>
  <b>Degree:</b>
  <%= @program.Degree %>
</p>


<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
